<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="header-contents">
    <h1>ToDo</h1>
</div>
<div class="today-area">
    本日の日付：<span th:text="${#temporals.format(today, 'yyyy/MM/dd')}"></span>
</div>
<div class="main-contents">
    <a href="/new">
        <button class="new-button" type="button">新規タスク</button>
    </a>
    <br/>
    <input type="submit" value="絞込">
    <br/>
    タスク内容　　　　ステータス　　　　タスク期限
    <div class="message-icon" th:each="content : ${contents}">

        <span th:text="${content.content}"/>

        <select name="pref">
            <option value="1" selected>未着手</option>
            <option value="2">完了</option>
            <option value="3">ステイ中</option>
            <option value="4">実行中</option>
        </select>

        <input type="button" value="変更">

        <span th:text="${content.limitDate}"/>

        <input type="button" value="編集">

        <input type="submit" value="削除">

    </div>
</div>
</body>
</html>
